<!-- your html code here -->
<div class="container">
    <div class="row align-items-center">
    <div class="col-8 d-flex justfiy-content-start flex-column">
        <h1 class="display-5 py-2">The First Heading Will Catch Your Eye</h1>
        <p class="text-justify py-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat et laboriosam rem dolorum voluptatibus consequatur perspiciatis aperiam, culpa quos enim?</p>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        <img class="img" style="width: 300px; height: 300px; object-fit: cover; border-radius: 100%;" src="https://i.pinimg.com/originals/59/88/07/598807e5f6bb7164e15b0071efd28443.jpg" alt="Walter White Breaking Bad Art">
    </div>
</div>
<br>
</div>