

<div class="container">
    <div class="row align-items-center">
        <div class="col-4">
            <img src="https://media.steelseriescdn.com/thumbs/filer_public/0f/46/0f46bcec-9cc2-49a7-a158-eb12ecd7fae1/lifestyle_03_hq.jpg__1920x1080_q100_crop-fit_optimize_subsampling-2.jpg"
                class="rounded-circle" alt="..." style=" width:300px; height: 300px;  ">
        </div>



        <div class="col-8 ">
            <h1 > The Second Heading Is Pretty Cool Too </h1>
            <p >Un portafolios es una colección de documentos del trabajo del estudiante que exhibe su esfuerzo,
                progreso y logros. El portafolio es una forma de evaluación que permite monitorear el proceso de
                aprendizaje por el profesor y por el mismo estudiante, permite ir introduciendo cambios durante dicho
                proceso </p>
        </div>





    </div>
    <br>

</div>